.loginContainer {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 15px; /* Espacio entre los elementos del formulario */
  }
  
  .forgot-password {
    text-align: right;
    margin-bottom: 10px;
  }
  
  .forgot-password a {
    font-size: 0.9em;
    color: #007bff;
    text-decoration: none;
  }
  
  .forgot-password a:hover {
    text-decoration: underline;
  }

  /* ... otros estilos ... */

.error-message {
    color: red;
    margin-bottom: 10px;
    font-size: 0.9em;
    text-align: center;
  }

  /* Estilo para la franja naranja inferior */
.orangeStripe {
  height: 8px;
  background-color: #f97316; /* Color naranja de Tailwind */
}

input {
  transition: border-color 0.2s ease, box-shadow 0.2s ease;
}

.welcomeText span {
  color: #2563eb;
  font-weight: 500;
}